<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
    <div class="datas">
        <h1>Hoje é {{ datas.data }}</h1>
        <h2>{{ datas.semana }}</h2>
        <h3>Você treinou hoje ?</h3>
        <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <button type="submit" name="botao" value="sim">Sim</button> 
            <button type="submit" name="botao" value="nao">Não</button>
        </form>
        {% for treino in treinos %}
        <h4>{{ treino }}</h4>
        {% endfor %}
    </div>

    <div class="calendario">
        <div class="ano">
            <h2>Ano de {{ datas.ano }}</h2>
            <h3>Dias terinados: {{ qtd_treinos }} / 366</h3>
        </div>
        <div class="mes">
            <h2>Mes: {{ datas.mes_nome }} </h2>
            <h3>{{ datas.dia }}/{{datas.mes_qtd}}</h3>
        </div>
    </div>

    <a href="{% url 'logout' %}">Sair</a>

</body>
</html>
