<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    {% for message in messages %}
        <div role="alert">
            <p>{{message}}</p>
        </div>
    {% endfor %}
    <h1>Cadastre-se</h1>
    <form action="{% url 'cadastro' %}" method="post">
        {% csrf_token %}
        <div>
            {% for field in form.visible_fields %}
            <div>
                <label for="{{ field.id_for_label }}"> {{ field.label }} </label>
                {{field}}
            </div>
            {% endfor %}
        </div>
        <div class="botao">
            <button type="submit">Cadastrar</button>
        </div>
    </form>
</body>
</html>