{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial</title>
    <!--CSS-->
    <link rel="stylesheet" href="{% static '/style/style-index.css' %}">
</head>
<body>
    <div class="titulo">
        <h1>Cale<span>GYM</span></h1><img src="{% static '/assets/haltere.png' %}" alt="" height="76px" width="76px">
    </div>
    <div class="botoes">
        <a href="{% url 'login' %}">Fazer Login</a>
        <a href="{% url 'cadastro' %}">Cadastre-se</a>
    </div>
</body>
</html>