<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for message in messages %}
        <div role="alert">
            <p>{{message}}</p>
        </div>
    {% endfor %}
    <form action="{% url 'registra_peso' %}" method="post">
        {% csrf_token %}
        <label for="">Peso atual: </label><input type="number" name="peso" value="peso" step="0.01">
        <input type="submit" value="Registrar">
    </form>
</body>
</html>