body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100px;
    width: 100%;
}

header h1{
    font: bold 13pt Arial;
    margin-right: 5px;
    margin-left: 60px;
}

span{
    color: #C80000;
}

header img{
    transform: rotate(35deg);
}

.formulario{
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.formulario label{
    font: normal 11pt Arial;
}

.formulario input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario input[type=submit]{
    width: 100%;
    background-color: #C80000;
    color: white;
    border: none;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
}

.formulario input[type=submit]:hover{
    background-color: #a30000;
}