body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.formulario{
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 30px;
}

.formulario label{
    font: normal 11pt Arial;
}

.formulario input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario input[type=submit]{
    width: 100%;
    background-color: green;
    color: white;
    border: none;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
}

.formulario input[type=submit]:hover{
    background-color: rgb(0, 82, 0);
}

.formulario a{
    width: 100%;
    background-color: #C80000;
    color: white;
    border: none;
    padding: 14px 0px 14px 0px;
    margin: 8px 0;
    border-radius: 4px;
    text-decoration: none;
    font: normal 10pt Arial;
    display: inline-block;
    text-align: center;
}

.formulario a:hover, a:active{
    background-color: #a30000;
}