body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formulario{
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.formulario label{
    font: normal 11pt Arial;
}

.formulario input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button{
    width: 300px;
    height: 70px;
    border-style: none;
    border-radius: 6px;
    font: normal 13pt Arial;
    color: white;
    background-color: #C80000;
    cursor: pointer;
    box-shadow: 0 9px #d6d6d6;
    margin-bottom: 20px;
}

button:hover{
    background-color: #a30000;
}

button:active{
    box-shadow: 0 5px #777777;
    transform: translateY(4px);
}